<%-include('../partials/admin/header-admin.ejs')%>

  <%-include('../partials/admin/navbar-admin.ejs');%>

  <div class="container mt-5">
    <div class="row">
        <div class="col-md-6 mb-4" style="max-width: 25rem;">
            <a href="addemployee" class="card card-clickable text-decoration-none text-bg-info text-center">
              <!-- <img src="https://via.placeholder.com/300x200" class="card-img-top" alt="Card Image 1"> -->
              <div class="card-body">
                <h5 class="card-title">Hemograma completo</h5>
               
              </div>
            </a>
          </div>

          <div class="col-md-6 mb-4" style="max-width: 25rem;">
            <a href="addemployee" class="card card-clickable text-decoration-none text-bg-info text-center">
              <!-- <img src="https://via.placeholder.com/300x200" class="card-img-top" alt="Card Image 1"> -->
              <div class="card-body">
                <h5 class="card-title">Glicemia em jejum</h5>
               
              </div>
            </a>
          </div>

          <div class="col-md-6 mb-4" style="max-width: 25rem;">
            <a href="addemployee" class="card card-clickable text-decoration-none text-bg-info text-center">
              <!-- <img src="https://via.placeholder.com/300x200" class="card-img-top" alt="Card Image 1"> -->
              <div class="card-body">
                <h5 class="card-title">Perfil lipídico</h5>
               
              </div>
            </a>
          </div>

          <div class="col-md-6 mb-4" style="max-width: 25rem;">
            <a href="addemployee" class="card card-clickable text-decoration-none text-bg-info text-center">
              <!-- <img src="https://via.placeholder.com/300x200" class="card-img-top" alt="Card Image 1"> -->
              <div class="card-body">
                <h5 class="card-title">Urina tipo I</h5>
               
              </div>
            </a>
          </div>

          <div class="col-md-6 mb-4" style="max-width: 25rem;">
            <a href="addemployee" class="card card-clickable text-decoration-none text-bg-info text-center">
              <!-- <img src="https://via.placeholder.com/300x200" class="card-img-top" alt="Card Image 1"> -->
              <div class="card-body">
                <h5 class="card-title">Ureia e Creatinina</h5>
               
              </div>
            </a>
          </div>

          <div class="col-md-6 mb-4" style="max-width: 25rem;">
            <a href="addemployee" class="card card-clickable text-decoration-none text-bg-info text-center">
              <!-- <img src="https://via.placeholder.com/300x200" class="card-img-top" alt="Card Image 1"> -->
              <div class="card-body">
                <h5 class="card-title">AST e ALT</h5>
               
              </div>
            </a>
          </div>

          <div class="col-md-6 mb-4" style="max-width: 25rem;">
            <a href="addemployee" class="card card-clickable text-decoration-none text-bg-info text-center">
              <!-- <img src="https://via.placeholder.com/300x200" class="card-img-top" alt="Card Image 1"> -->
              <div class="card-body">
                <h5 class="card-title">Sódio e Potássio</h5>
               
              </div>
            </a>
          </div>

          <div class="col-md-6 mb-4" style="max-width: 25rem;">
            <a href="addemployee" class="card card-clickable text-decoration-none text-bg-info text-center">
              <!-- <img src="https://via.placeholder.com/300x200" class="card-img-top" alt="Card Image 1"> -->
              <div class="card-body">
                <h5 class="card-title">Hemoglobina glicada (HbA1c)</h5>
               
              </div>
            </a>
          </div>

          <div class="col-md-6 mb-4" style="max-width: 25rem;">
            <a href="addemployee" class="card card-clickable text-decoration-none text-bg-info text-center">
              <!-- <img src="https://via.placeholder.com/300x200" class="card-img-top" alt="Card Image 1"> -->
              <div class="card-body">
                <h5 class="card-title">Proteína C-reativa (PCR)</h5>
               
              </div>
            </a>
          </div>

          <div class="col-md-6 mb-4" style="max-width: 25rem;">
            <a href="addemployee" class="card card-clickable text-decoration-none text-bg-info text-center">
              <!-- <img src="https://via.placeholder.com/300x200" class="card-img-top" alt="Card Image 1"> -->
              <div class="card-body">
                <h5 class="card-title">Fósforo</h5>
               
              </div>
            </a>
          </div>

          <div class="col-md-6 mb-4" style="max-width: 25rem;">
            <a href="addemployee" class="card card-clickable text-decoration-none text-bg-info text-center">
              <!-- <img src="https://via.placeholder.com/300x200" class="card-img-top" alt="Card Image 1"> -->
              <div class="card-body">
                <h5 class="card-title">Cálcio</h5>
               
              </div>
            </a>
          </div>

          <div class="col-md-6 mb-4" style="max-width: 25rem;">
            <a href="addemployee" class="card card-clickable text-decoration-none text-bg-info text-center">
              <!-- <img src="https://via.placeholder.com/300x200" class="card-img-top" alt="Card Image 1"> -->
              <div class="card-body">
                <h5 class="card-title">Magnésio</h5>
               
              </div>
            </a>
          </div>
          <div class="col-md-6 mb-4" style="max-width: 25rem;">
            <a href="addemployee" class="card card-clickable text-decoration-none text-bg-info text-center">
              <!-- <img src="https://via.placeholder.com/300x200" class="card-img-top" alt="Card Image 1"> -->
              <div class="card-body">
                <h5 class="card-title">Amilase e Lipase</h5>
               
              </div>
            </a>
          </div>



    </div>
  </div>

  <%- include('../partials/admin/footer-admin.ejs');%>