<header>
    <img class="rounded float-start" width="70px" src="image/logo3.png" alt="Logotipo do Site">
    <div class="social-icons">
        <a href="#" aria-label="Facebook"><i class="fab fa-facebook-f"></i></a>
        <a href="#" aria-label="Twitter"><i class="fab fa-twitter"></i></a>
        <a href="#" aria-label="Instagram"><i class="fab fa-instagram"></i></a>
        <a href="#" aria-label="LinkedIn"><i class="fab fa-linkedin-in"></i></a>
        <a href="#" aria-label="whatsapp"><i class="fab fa-whatsapp"></i></a>

    </div>
   
    <!-- Header -->

</header>
<nav class="navbar navbar-expand-lg navbar-light p-3 menu custom-toggler">
        
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
                <a class="nav-link text-white" href="index">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-white" href="sobre">Sobre</a>
            </li>
            <li class="nav-item ">
                <a class="nav-link text-white" href="servico">Serviços</a>
            </li>
            <li class="nav-item ">
                <a class="nav-link text-white" href="contact">Contato</a>
            </li>
        </ul>
    </div>
</nav>