<%- include ('../partials/header.ejs') %>
<%- include('../partials/navbar.ejs') %> 

  <!-- main -->
    
  
  <div class="container justify-content-center" id="form-conctat">
    <div class="row  justify-content-center">
        <div class="col-6 ">
            <img src="image/call.png"  alt="Person holding a laptop" class="img-fluid">
        </div>
        <div class="w-100"></div>
        <form class="col-6 ">
            <div class="form-group form-floating">
               <input type="text" class="form-control" id="floatingTextarea" name="mensagem" placeholder="Mensagem">
                <label for="floatingTextarea">Mensagem</label>
            </div>
            <button type="submit" class="btn btn-primary mb-3">ENVIAR</button>
        </form>
    </div>
    
</div>


<a href="https://instagram.com/XXXXXX" class="link-icone-social-instagram" target="_blank">
    <img src="https://cdn.awsli.com.br/1997/1997501/arquivos/instagram.svg" class="icone-social"
        alt="Siga nosso Instagram">
</a>


<a href="https://wa.me/message/XXXXXX" class="link-icone-social-whatsapp" target="_blank">
    <img src="https://cdn.awsli.com.br/1997/1997501/arquivos/whatsapp.svg" class="icone-social"
        alt="Fale Conosco pelo WhatsApp">
</a>


<%- include('../partials/footer.ejs') %> 